#background{
    background-color: #1F2A38;
    padding: 0;                 
}

#nav{
    background-color: #3d74bd;
    overflow: 'hidden'
}
#logo{
    width: 90px;
    height: 100px;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5px;
}
#imagem{
    position: relative;
    background-image: url('/static/img/studio.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 550px;
    border-radius: 8px;
    overflow: hidden;
}

#sensei{
    background-image: url('/static/img/sensei.jpg'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 300px;
}
#h{
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}
#p{
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}
#conteudoimagem{
    padding-top: 60px;
}
#custom-padding {
    padding-left: 100px;
    padding-right: 50px;
}

.moldura-card {
    padding: 20px;        
    border-radius: 20px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.moldura-card .card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 3px 3px 12px rgba(0,0,0,0.3);
    width: 100%;
}